@import "admin.css";

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}
.section-title {
  align-self: flex-start;
  border-bottom: none;
}
.toggle-reports {
  align-self: flex-end;
}
.toggle-reports .btn {
  background: #fffffa;
  color: #1d3461;
  border: 2px solid #fffffa;
}
.btn {
  height: 30px;
  border-radius: 2px;
  display: inline-block;
  min-width: 75px;
  text-align: center;
}
.btn.btn-toggled {
  border: 2px solid #fffffa;
  background: #427aa1;
  color: #ffffff;
}
.btn-action {
  font-size: 0.7rem;
}
.btn-warning {
  background-color: #c40b13;
  color: #ffffff;
}

.responsive-table {
  display: none;
}
#loans-all {
  display: block;
}

/** Modals **/
.modal {
  background: #fffffa;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.modal.report-modal {
  overflow-y: scroll;
  width: 55vw;
  height: 300px;
}
.modal-toggle {
  background: rgba(50, 41, 47, 0.76);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.modal-header {
  border-bottom: 2px solid #1d3461;
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 5px 5px;
  padding: 10px 25px;
}
.modal-title {
  color: #1d3461;
  display: inline-block;
  font-size: 1.7em;
}
#modal-close {
  cursor: pointer;
  font-size: 1.7em;
}
.modal-body {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 25px;
}
.closed {
  display: none;
}
