@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Biryani|Carter+One|Hind+Siliguri|Nunito');

body {
  background-color: #ebf2fa;
  display: grid;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  grid-template-areas:
    "aside .... header"
    "aside main main"
    "aside main main";
  grid-gap: 0px 25px;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 55px 1fr;
  line-height: 1.4;
  min-height: 100vh;
  width: 100%;
}
h1 {
  font-family: 'Carter One', cursive;
}
h2 {
  font-family: 'Hind Siliguri', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.btn-action {
  align-items: center;
  border-radius: 3px;
  display: flex;
  font-size: 0.85rem;
  font-weight: normal;
  justify-content: space-evenly;
  margin: 0 5px 5px 0;
  padding: 5px;
  text-transform: lowercase;
  width: 5rem;
}
.btn-info {
  background-color: #00bd56;
  color: #f9f8eb;
}
.btn-verify {
  background: #13abc4;
  color: #f9f8eb;
}
.btn-verified {
  background: gray;
  color: #f9f8eb;
}
.tag {
  border: 0;
  color: white;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.4rem 0.3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 4rem;
}
.verified {
  background-color: #3161a3;
}
.unverified {
  background-color: #9692af;
}
span a {
  color: #fffffa;
}

aside,
header,
main {
  display: flex;
}

/** *** Aside Menu Styles *** **/

aside {
  background-color: #0A122A;
  flex-direction: column;
  grid-area: aside;
}
aside .asidebar-logo {
  align-self: center;
  margin-top: 3vh;
  padding: 3px;
  width: 18vw;
}
.asidebar-logo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
aside nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}
aside nav a {
  color: #fffffa;
  font-weight: 400;
  padding: 15px 30px;
  text-transform: uppercase;
  /* transition: all 0.3s ease-in-out; */
}
aside nav a.active {
  background: #1D3461;
  border-left: 4px solid #fffffa;
  padding: 15px 30px 15px 25px;
}
aside nav a:hover {
  background: #427AA1;
  padding: 15px 30px 15px 25px;
}
aside nav a .fas {
  color: #F06543;
  font-size: 1.3rem;
  margin-right: 0.8rem;
}

/** *** Header Menu Styles *** **/

header {
  align-items: center;
  grid-area: header;
  min-height: 7vh;
  justify-content: flex-end;
}
.hamburger-menu {
  display: none;
}
header nav {
  margin: 0.3rem;
  padding: 0.5rem;
}
header nav a {
  color: #427AA1;
  font-size: 1.3rem;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}
header nav a:hover {
  color: #0A122A;
}

/** *** Main Styles *** **/

main {
  flex-direction: column;
  grid-area: main;
}
.container {
  background: #ebf2fa;
  margin-right: 10px;
  min-height: 80vh;
  padding: 0px 30px;
  position: relative;
}
.section-title {
  align-self: center;
  color: #1D3461;
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}
.section-title:after {
  border: 1.5px solid #F06543;
  bottom: -3px;
  content: "";
  left: 0;
  position: absolute;
  width: 60px;
}
/** Users list table **/
.responsive-table {
  margin: 2rem 0;
  overflow-x: auto;
}
table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
td, th {
  padding: 1rem;
  text-align: left;
}
th {
  font-weight: bold;
}
/* tr:nth-child(odd) {
  background-color: #ffffff;
} */
td {
  min-width: 100px;
}
#user-table td:last-child .wrapper {
  justify-content: center;
}
td .wrapper {
  display: flex;
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  /* base styles */
  body {
    display: flex;
    flex-direction: column;
  }

  /* aside menu */
  .asidebar-logo {
    display: none;
  }
  aside nav {
    display: none;
    background: #151b3a;
    top: 50px;
    overflow: hidden;
    position: absolute;
    transition: all 250ms ease-in-out;
    width: 100%;
    z-index: 10000;
  }
  aside nav.menu-open {
    display: flex;
    flex-direction: column;
  }
  aside nav a.active {
    border: none;
  }
  .hamburger-menu {
    background: transparent;
    border: 0;
    display: block;
    padding: 37px;
    position: absolute;
    left: 0;
    top: -10px;
  }
  .hamburger-menu.menu-open > .hamburger {
    background: transparent;
  }
  .hamburger-menu.menu-open > .hamburger:after,
  .hamburger-menu.menu-open > .hamburger:before {
    top: 0;
    width: 30px;
  }
  .hamburger-menu.menu-open > .hamburger:after {
    transform: rotate(-45deg);
  }
  .hamburger-menu.menu-open > .hamburger:before {
    transform: rotate(45deg);
  }
  .hamburger {
    background: #0a122a;
    display: block;
    height: 2px;
    position: absolute;
    right: 20px;
    top: 36px;
    width: 30px;
  }
  .hamburger:before {
    top: 7px;
  }
  .hamburger:after {
    bottom: 7px;
  }
  .hamburger:before,
  .hamburger:after {
    background: #0a122a;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0px;
    transition: all 250ms ease-in;
    width: 30px;
  }


  /* Header styles */
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }


  /* Main styles */
  .container {
    width: 85%;
  }
  .profile-card {
    flex-basis: 100%;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
    padding: 0;
  }
  td {
    border: none;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "First Name"; }
  td:nth-of-type(2):before { content: "Last Name"; }
  td:nth-of-type(3):before { content: "Home Address"; }
  td:nth-of-type(4):before { content: "Registered"; }
  td:nth-of-type(7):before { content: "Status"; }
}
