@import "admin-users.css";

* {
  margin: 0;
  padding: 0;
}
a {
  color: #fffffa;
}

.container {
  display: flex;
  flex-direction: column;
}
.section-title {
  align-self: flex-start;
  border-bottom: none;
}
.toggle-reports {
  align-self: flex-end;
}
.toggle-reports .btn {
  background: #fffffa;
  color: #1d3461;
}
.btn {
  height: 30px;
  border-radius: 2px;
  display: inline-block;
  min-width: 75px;
  text-align: center;
}
.btn.btn-toggled {
  background: #427aa1;
  color: #ffffff;
}
.btn-action {
  font-size: 0.7rem;
}
.btn-warning {
  background-color: #c40b13;
  color: #ffffff;
}

.responsive-table {
  display: none;
}
#loans-all {
  display: block;
}

/** Modals **/
.modal {
  background: #fffffa;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.modal.report-modal {
  overflow-y: scroll;
  width: 55vw;
  height: 300px;
}
.modal-toggle {
  background: rgba(50, 41, 47, 0.76);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.modal-header {
  border-bottom: 2px solid #1d3461;
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 5px 5px;
  padding: 10px 25px;
}
.modal-title {
  color: #1d3461;
  display: inline-block;
  font-size: 1.7em;
}
#modal-close {
  cursor: pointer;
  font-size: 1.7em;
}
.modal-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 25px;
}
.modal-btn {
  cursor: pointer;
  margin: 0;
  font-size: 1em;
  padding: 0 10px;
  text-decoration: none;
  height: 45px;
  border-radius: 3px;
}
.btn-repay {
  background-color: #2ebc4f;
  border-color: #2ebc4f;
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: 13vh;
}
.closed {
  display: none;
}


/*** ** --- Media Queries --- ** ***/
@media screen and (max-width: 768px) {
  .section-title {
    margin: 1rem;
  }
  .toggle-reports {
    margin-top: 2rem;
    align-self: center;
    display: flex;
  }
  .toggle-reports .btn {
    margin: 0.2rem;
  }

  .modal {
    top: 15%;
  }
  .modal.report-modal {
    width: 95vw;
  }
  .btn-repay {
    margin-top: 15px;
  }
}
