@import 'normalize.css';

* {
  border: 0.3px solid red;
}
body {
  display: grid;
  grid-template-areas:
    "aside header header"
    "aside main main"
    "aside main main";
  grid-gap: 0px 25px;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 55px 1fr;
  min-height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
aside,
header,
main {
  display: flex;
  text-transform: uppercase;
}
table {
  background: transparent;
  border-collapse: collapse;
  border-right: 1px solid #111;
  border-spacing: 0;
  border-top: 1px solid #111;
}
tr {
  border-left: 3px solid #222222;
}
td,
th {
  border-bottom: 1px solid #333333;
  padding: 20px 10px;
}

/** *** Aside Menu Styles *** **/

aside {
  grid-area: aside;
  justify-content: center;
}
aside nav {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  width: 100%;
}
aside nav a {
  font-weight: 400;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
}
aside nav a .fas {
  color: red;
  font-size: 1.3rem;
  margin-right: 0.8rem;
}

/** *** Header Menu Styles *** **/

header {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  grid-area: header;
  height: 7vh;
  justify-content: flex-end;
}
header nav {
  margin: 0.3rem;
  padding: 0.5rem;
}
header nav a {
  font-size: 1.08rem;
  padding: 5px;
}

/** *** Main Styles *** **/

main {
  flex-direction: column;
  grid-area: main;
}
.container {
  background: #dfe0e2;
  min-height: 80vh;
  padding: 0px 15px 130px;
  position: relative;
}
.section-title {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}
.section-title:after {
  border: 1.5px solid #0facf3;
  bottom: -3px;
  content: "";
  left: 0;
  position: absolute;
  width: 60px;
}
/** Profile Styles **/
.profile {
  display: flex;
  justify-content: center;
}
.profile-card {
  background: #fffffa;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  padding: 20px;
}
.profile-card p {
  font-size: 1.3rem;
  font-weight: 600;
}
.profile-image {
  border-radius: 50%;
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
}
