@import 'normalize.css';

/** Base Styles **/
body {
  background-color: #fffffa;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.4;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.logo {
  width: 100px;
}
.btn {
  border-radius: 4px;
  display: inline-block;
  height: 45px;
  min-width: 110px;
  text-align: center;
}
a.btn {
  padding: 12px 25px;
}
.column {
  display: flex;
  justify-content: space-between;
}
.icon-circle {
  background: greenyellow;
  border-radius: 60px;
  color: #fffffa;
  display: block;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  width: 60px;
  height: 60px;
}

/** Header Styles **/
.navbar {
  display: flex;
}
.navbar-logo {
  padding: 12px 40px;
}
.navbar-menu {
  display: flex;
  margin-left: auto;
  padding: 0 40px;
}
.navbar-menu > li:last-child a {
  border-left: 2px solid green;
  color: red;
  margin-left: 0.2rem;
}
.navbar-menu > li:last-child a:hover {
  color: aqua;
}
.navbar-link {
  display: inline;
}
.navbar-link a {
  display: block;
  padding: 0.1rem 0.5rem;
}
.navbar-link a:hover {
  color: #f4511e;
}

/** Hero Styles **/
.hero {
  align-items: center;
  background-image: url(../images/randy-tarampi-1323085-unsplash.jpg);
  background-position: center top;
  background-size: cover;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  height: calc(90vh - 74px);
  justify-content: center;
  padding: 40px 80px;
  transition: all 0.7s ease-in-out;
}
.hero:after {
  border: 10px solid;
  border-color: #f9f9f9 transparent transparent;
  bottom: 2vh;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}
.hero-title {
  font-size: 2.3em;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.hero-paragraph {
  font-size: 1.1em;
  margin-bottom: 40px;
  width: 75%;
}
.hero-callout {
  margin-top: 10px;
}
.btn-home {
  background: #f4511e;
  color: #fffffa;
  font-size: 1.5em;
  text-align: center;
  transition: all 0.5s;
  width: 200px;
}
.btn-home span {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 0;
  position: relative;
  transition: 0.5s;
}
.btn-home span:after {
  content: '\00bb';
  opacity: 0;
  position: absolute;
  right: -20px;
  top: 7px;
  transition: 0.5s;
}
.btn-home:hover span {
  padding-right: 20px;
}
.btn-home:hover span:after {
  opacity: 1;
  right: 0;
}
/** Homepage Sections/Features Styles **/
section {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
section > .btn {
  align-self: center;
}
.section-title {
  display: inline-block;
}
.section-title,
.section-text {
  margin-bottom: 15px;
  position: relative;
}
.section-title:after {
  border: 1.5px solid green;
  bottom: -3px;
  content: "";
  left: 0;
  position: absolute;
  width: 60px;
}
.features {
  display: flex;
  justify-content: space-between;
}
.feature-item {
  flex-basis: 50%;
  flex-direction: column;
  justify-content: start;
  padding: 20px 50px;
}
.column .icon-circle {
  align-self: center;
  margin-bottom: 20px;
}
/** Featured Reports Styles **/
.featured-reports {
  background: #dfe0e2;
  clip-path: polygon(0 10%, 100% 35%, 100% 100%, 0% 100%);
  margin-top: -50px;
  padding-top: 110px;
}
.sectioned {
  background: sienna;
}
.sectioned .section-title,
.sectioned .section-text {
  color: #fffffa;
}

/** Footer Styles **/
footer {
  background-color: #f4511e;
  text-align: center;
}
