@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Biryani|Carter+One|Hind+Siliguri|Nunito');

body {
  background-color: #ebf2fa;
  display: grid;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  grid-template-areas:
    "aside .... header"
    "aside main main"
    "aside main main";
  grid-gap: 0px 25px;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 55px 1fr;
  min-height: 100vh;
  width: 100%;
}
h1 {
  font-family: 'Carter One', cursive;
}
h2 {
  font-family: 'Hind Siliguri', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
select,
button {
  background: transparent;
  border: 1px solid #427AA1;
  border-radius: 3px;
  font-size: 1em;
  height: 35px;
  margin: 0;
  outline: none;
  padding: 0 10px;
  text-align: left;
  text-decoration: none;
}
/* button {
  cursor: pointer;
} */
label {
  color: #1667A0;
  font-weight: 500;
  margin-bottom: 5px;
}
label span {
  color: #f06543;
  font-size: 18px;
}
aside,
header,
main {
  display: flex;
}

/** *** Aside Menu Styles *** **/

aside {
  background-color: #0A122A;
  flex-direction: column;
  grid-area: aside;
}
aside .asidebar-logo {
  align-self: center;
  margin-top: 3vh;
  padding: 3px;
  width: 18vw;
}
.asidebar-logo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
aside nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}
aside nav a {
  color: #fffffa;
  font-weight: 400;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
aside nav a.active {
  background: #1D3461;
  border-left: 4px solid #fffffa;
  padding: 15px 30px 15px 25px;
}
aside nav a:hover {
  background: #427AA1;
  padding: 15px 30px 15px 25px;
}
aside nav a .fas {
  color: #F06543;
  font-size: 1.3rem;
  margin-right: 0.8rem;
}

/** *** Header Menu Styles *** **/

header {
  align-items: center;
  grid-area: header;
  min-height: 7vh;
  justify-content: flex-end;
}
.hamburger-menu {
  display: none;
}
header nav {
  margin: 0.3rem;
  padding: 0.5rem;
}
header nav a {
  color: #427AA1;
  font-size: 1.3rem;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}
header nav a:hover {
  color: #0A122A;
}

/** *** Main Styles *** **/

main {
  flex-direction: column;
  grid-area: main;
}
.section-title {
  align-self: center;
  color: #1D3461;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
}
.section-title:after {
  border: 1.5px solid #F06543;
  bottom: -3px;
  content: "";
  left: 0;
  position: absolute;
  width: 60px;
}
.form-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 10px 5px;
  width: 55%;
}
.form-element-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.form-element {
  margin-bottom: 0.7rem;
  padding-left: 0.2rem;
}
.btn {
  border-radius: 4px;
  color: #fffffa;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  line-height: 45px;
  min-width: 85px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 35%;
}
.btn-secondary {
  background-color: #2ebc4f;
  border-color: #2ebc4f;
  align-self: flex-end;
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  /* base styles */
  body {
    display: flex;
    flex-direction: column;
  }
  .btn-secondary {
    width: 100%;
  }

  /* aside menu */
  .asidebar-logo {
    display: none;
  }
  aside nav {
    display: none;
    background: #151b3a;
    top: 50px;
    overflow: hidden;
    position: absolute;
    transition: all 250ms ease-in-out;
    width: 100%;
    z-index: 10000;
  }
  aside nav.menu-open {
    display: flex;
    flex-direction: column;
  }
  aside nav a.active {
    border: none;
  }
  .hamburger-menu {
    background: transparent;
    border: 0;
    display: block;
    padding: 37px;
    position: absolute;
    left: 0;
    top: -10px;
  }
  .hamburger-menu.menu-open > .hamburger {
    background: transparent;
  }
  .hamburger-menu.menu-open > .hamburger:after,
  .hamburger-menu.menu-open > .hamburger:before {
    top: 0;
    width: 30px;
  }
  .hamburger-menu.menu-open > .hamburger:after {
    transform: rotate(-45deg);
  }
  .hamburger-menu.menu-open > .hamburger:before {
    transform: rotate(45deg);
  }
  .hamburger {
    background: #0a122a;
    display: block;
    height: 2px;
    position: absolute;
    right: 20px;
    top: 36px;
    width: 30px;
  }
  .hamburger:before {
    top: 7px;
  }
  .hamburger:after {
    bottom: 7px;
  }
  .hamburger:before,
  .hamburger:after {
    background: #0a122a;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0px;
    transition: all 250ms ease-in;
    width: 30px;
  }


  /* Header styles */
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }


  /* Main styles */
  .container {
    width: 80%;
  }
  .form-container {
    width: 85%;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
    padding: 0;
  }
  td {
    border: none;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "S/N"; }
  td:nth-of-type(2):before { content: "Loan ID"; }
  td:nth-of-type(3):before { content: "Date Created"; }
  td:nth-of-type(4):before { content: "Date Due"; }
  td:nth-of-type(5):before { content: "Payment"; }
  td:nth-of-type(6):before { content: "Balance"; }
  td:nth-of-type(7):before { content: "Status"; }
}
