@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Biryani|Carter+One|Hind+Siliguri|Nunito');

/** Base Styles **/
body {
  background-color: #0A122A;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  min-height: 100vh;
}
h1 {
  font-family: 'Carter One', cursive;
}
h2 {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
label {
  color: #fffffa;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}
label span {
  color: #f06543;
  font-size: 16px;
}
input,
button {
  background: transparent;
  border: 2px solid #EBF2FA;
  border-radius: 4px;
  color: #fffffa;
  font-size: 1em;
  height: 35px;
  margin: 0;
  outline: none;
  padding: 0 10px;
  text-align: left;
  text-decoration: none;
}
button {
  cursor: pointer;
}

/** Header Styles **/
header {
  align-self: center;
  height: 10vh;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/** Main Styles **/
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
section > p {
  color: #fff;
  margin: 0;
  text-align: center;
}
section > p a {
  color: #f06543;
}
section > p a:hover {
  color: #EF461C;
}
.section-title {
  align-self: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.5px;
  position: relative;
  text-align: center;
}
.section-title:after {
  border: 1.5px solid #F06543;
  bottom: -3px;
  content: "";
  left: 0;
  position: absolute;
  width: 60px;
}
.container {
  align-self: center;
  margin-bottom: 1rem;
  width: 45%;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 20px;
}
.form-element {
  margin-bottom: 15px;
}
.btn a {
  color: #fff;
}
.btn {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  line-height: 45px;
  min-width: 110px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}
.btn-primary {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-primary:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/** Loader Styles **/
.spinner-dots {
  height: 0;
  margin: auto;
  opacity: 0;
  position: fixed;
  z-index: -1;
  width: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.spinner-dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.spinner-dot:before,
.spinner-dot:after {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50px;
  background: #C5EFF7;
  position: absolute;
  left: 50%;
  transform: translateX(-14px);
  margin-left: -11px;
  margin-top: -11px;
}
.spinner-dot:after {
  transform: translateX(14px);
}
@keyframes spinner-dots-move-0 {
  0% {
    transform: translateX(-14px) rotate(0deg);
  }
  50%, 100% {
    transform: translateX(-14px) rotate(180deg);
  }
}
@keyframes spinner-dots-visibility-0 {
  0% {
    visibility: visible;
  }
  50%, 100% {
    visibility: hidden;
  }
}
.spinner-dot:nth-child(1) {
  transform: translateX(-14px) rotate(0deg);
  animation: spinner-dots-move-0 0.7s -0s ease-in infinite;
}
.spinner-dot:nth-child(1):before {
  animation: spinner-dots-visibility-0 0.7s -0s infinite;
}
@keyframes spinner-dots-move-1 {
  0% {
    transform: translateX(14px) rotate(180deg);
  }
  50%, 100% {
    transform: translateX(14px) rotate(0deg);
  }
}
@keyframes spinner-dots-visibility-1 {
  0% {
    visibility: visible;
  }
  50%, 100% {
    visibility: hidden;
  }
}
.spinner-dot:nth-child(2) {
  transform: translateX(14px) rotate(0deg);
  animation: spinner-dots-move-1 0.7s -0.35s ease-in infinite;
}
.spinner-dot:nth-child(2):before {
  animation: spinner-dots-visibility-1 0.7s -0.35s infinite;
}
.spinner-hide {
  visibility: hidden;
}
.spinner-show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

/*** --- Media Queries --- ***/

/* for smartphones < 768px */
@media screen and (max-width: 768px) {
  header {
    width: 30%;
  }

  .container {
    width: 100%;
  }
}
